#**Data Types and Structures Questions**

1. **What are data structures, and why are they importants.**
- A data structure is a way of organinzing ,sorting and managing data so it can be used easily by user.
 - There are so many importants of Data Structure-
     - Orgnizing data efficiently
     - Used a algorithms like sorting a element,searching a elememt etc algorithm we can use.
     - Improve performance

2. **Explain the difference between mutable and immutable data types with examples.**
- In python there are data types which are mutable or immutable.
- Which means,In mutables data types we can change the object value or In immutable data types we can't change the objects value.
- **Mutable data types** :- list,Dictionary or set.
- **Immutable data types** :- int,float, str,tuple.

In [40]:
#Example of mutable data type
list=[1,2,3,4]
list[1]="anu"
print(list)
#Example of immutable data type
tuple=(1,2,3,4,5)
tuple[1]="hi" #it will throw an error
print(tuple)

[1, 'anu', 3, 4]

TypeError: 'tuple' object does not support item assignment

3. **What are the main differences between lists and tuples in Python.**
- **List -** List is mutable.List written with[](Square bracket).
- **Tuple -** Tuple is immutable and written with()(parantheses).

4. **Describe how dictionaries store data**.
- Dictionary in python store data in the form of **Key-Value pairs** . Each key is unique, and it is used to quickly access the associated value.
  - **Unordered collections:** Elements are not stored in a specific order.
  - **Unique key-value pairs:** Each key acts as a unique identifier for retrieving an associated value.
  - **Flexible data:** Keys and values can be of various data types (strings, numbers, lists, and even other dictionaries).

5. **Why might you use a set instead of a list in Python ?**
- In set Duplication is not allow it.But in list duplicates value can apply.
In set you can perform mathmatical operations like(union,intersection and difference).We use List when elements in ordered and duplicates.

6. **What is a string in Python, and how is it different from a list ?**
- In Python List and String both are diffrents.
- In list we can store any type of data type(string,float,int etc). list show as[].
- But in string we can only store string value in (" ") double quotes,('') single quotes and(''' """) triple qoutes..
- List is mutable and String is immutable.

7. **How do tuples ensure data integrity in Python ?**
- Tuple is immutable that means once it created its,elements can not be changed.

8. **What is a hash table, and how does it relate to dictionaries in Python ?**
- A hash table is a data structure that stores data in key-value pairs.

- It uses a hash function to convert a key into an index in an underlying array (called a hash map).
- Dictionaries (dict) are implemented using hash tables.

- Keys are passed through a hash function (hash(key)) to determine where the value is stored in memory.

- This makes lookups, insertions, and deletions very efficient.

9. **Can lists contain different data types in Python ?**
- Yes in list we can store differents types of data types.

10. **Explain why strings are immutable in Python ?**
- Efficiency of strings are commonly used as dictionary keys and in sets. Immutability ensures that the hash value of as string never changes.
- Bacause strings are widely used , immutability prevents accidental changes, like if multiple variable references a same string, none of them can alter it.
- Memory optimization in strings

11. **What advantages do dictionaries offer over lists for certain tasks ?**
- Key Values mapping: In dict we can access data by meaningful keys, not just index options. This makes code more readable and intuitive.
- Flexibility with keys: Dict keys can be numbers, strings or even tuples(if hashable).List only uses integer indexes.
- Fast lookups: In list searching for an item takes propotional to the list size. In dict uses a hash table, so loking up a value by key is very fast on average.
- Avoid Duplicacy: dict prevents accidental duplicate entries. List allow duplicate items, which causes confusion in searching.

12. **Describe a scenario where using a tuple would be preferable over a list.**
- let's take an example of a program that stores geographic coordintes of cities.
- Coordinates shouldn't changed once set like delhi will always be at the same lat/long. So tuples are immutable it protect against accidental modification.
- Tuples are slightly more memory-efficient and faster than lists. It is useful when you have many fixed records.

13. **How do sets handle duplicate values in Python?**
- A set is an unorderd collection of unique elements. Sets automatically remove duplicate values, is you try to add the same elements more than once, only one copy is stored. Because sets are implemented using hash table keys must be unique. So python automatically ensures that each elements appears only once.

In [39]:
# Sets stores unique values
my_set = {1,2,3,4,5,5,5,5}
print(my_set) # Here only unique elements are print repated occurs only once in set

{1, 2, 3, 4, 5}

14.  **How does the “in” keyword work differently for lists and dictionaries?**
- In List: 'in' checks if a value exists in the list, python scans each elements one by one .
- In dict: 'in' checks if a key exists, not the value, python uses the dict hash tables, so lookup is very fast.

In [38]:
#Examople of checking , City is present in dictionary or not
d={'name': 'Alice', 'city': 'Paris'}
"city" in d

True

15. **Can you modify the elements of a tuple? Explain why or why not?**
- No we cannot modify the elements of tuple, because tuples are immutable once it created its content cannot be changed, added, or removed and it ensures data safety, consistency, and allow them to be hashable.

In [37]:
#Example of tuple
my_tuple = (1,24,6,4,7)
print(my_tuple)
my_tuple[0] = 10 #cannot modify the elements of tuple
print(my_tuple)

(1, 24, 6, 4, 7)

TypeError: 'tuple' object does not support item assignment

16. **What is a nested dictionary, and give an example of its use case?**
- A nested dictionary in python is a dict that contains another dict as its values. This is useful for representing hierarchical or structural data.

In [36]:
#Example of Nested Dict
students = {"A" : {"Maths":89, "Science" : 99, "English" : 87}, "B" : {"Maths":89, "Science" : 99, "English" : 87}}
print(students)

{'A': {'Maths': 89, 'Science': 99, 'English': 87}, 'B': {'Maths': 89, 'Science': 99, 'English': 87}}

17. ** Describe the time complexity of accessing elements in a dictionary.**
- Acsess by key: Average case=O(1), Worst case=O(n).
- Insertion/update: Average case=O(1), Worst case=O(n).
- Deletion: Average case=O(1), Worst case=O(n).

18. **In what situations are lists preferred over dictionaries.**
- Orderd Collection: List maintain order of element while dict cannot. Use when order matters.
- Index-Based Access: List allow direct access by position, for frequent access of elements.
- Iteration: List are collection of similar itemns that you want iterate over, sort, or perform operations on. These are some situaions.

19. **Why are dictionaries considered unordered, and how does that affect data retrieval?**
- Python dict is implemented using a hash table, keys are detremine where their value are stored in memory.  
- It affects data retrieval- fast access of keys, when ieterating over a dict, keys may appear in any order.cannot access by index

20. **Explain the difference between a list and a dictionary in terms of data retrieval.**
- Lists
1. Ordered collection: Lists are ordered collections of items that can be of any data type, including strings, integers, floats, and other lists.
2. Indexed access: Elements in a list are accessed using their index (position in the list), which is an integer starting from 0.
3. Example: my_list = [1, 2, 3], access elements using my_list[0], my_list[1], etc.

Dictionaries
1. Key-value pairs: Dictionaries store data as key-value pairs.
2. Key-based access: Elements in a dictionary are accessed using their keys, which can be of any immutable type (like strings, integers).
3. Example: my_dict = {'name': 'John', 'age': 30}, access elements using my_dict['name'], my_dict['age'].

Data Retrieval Differences
- Lists: Retrieval is based on index (position). You need to know the index to access an element.
- Dictionaries: Retrieval is based on keys. You access a value by its associated key.
- Speed: Dictionary lookups are generally faster for large datasets when you know the key (O(1) average time complexity).
- Flexibility: Dictionaries are useful when data is naturally paired with identifiers (keys), while lists are good for ordered collections or when index-based access is needed.

#**Practical Questions**

In [3]:
# 1. Write a code to create a string with your name and print it.
str="Anushka"
print(str)

Anushka

In [4]:
# 2.Write a code to find the length of the string "Hello World".
name="Hello World"
print(len(name))

11

In [5]:
# 3.Write a code to slice the first 3 characters from the string "Python Programming".
str="Python Programming"
print(str[0:3])

Pyt

In [6]:
# 4.Write a code to convert the string "hello" to uppercase.
a="hello"
print(a.upper())

HELLO

In [7]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
a="I like apple"
print(a.replace("apple","orange"))

I like orange

In [8]:
# 6.Write a code to create a list with numbers 1 to 5 and print it.
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [9]:
# 7.Write a code to append the number 10 to the list [1, 2, 3, 4].
a=[1,2,3,4]
(a.append(10))
print(a)

[1, 2, 3, 4, 10]

In [35]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
a=[1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [10]:
# 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
a=['a', 'b', 'c', 'd']
print(a[1])

b

In [11]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
a=[10, 20, 30, 40, 50]
print(a[::-1])

[50, 40, 30, 20, 10]

In [12]:
# 11.. Write a code to create a tuple with the elements 100, 200, 300 and print it.
a=(100,200,300)
print(a)

(100, 200, 300)

In [13]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
a=('red', 'green', 'blue', 'yellow')
print(a[1:4])

('green', 'blue', 'yellow')

In [14]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
a=(10, 20, 5, 15)
print(min(a))

5

In [15]:
# 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
a=('dog', 'cat', 'rabbit')
print(a.index("cat"))

1

In [16]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
a=("Apple","Banana","cherry")
print("kiwi" in a)

False

In [17]:
# taking input by user
a=tuple(input ("Enter fruits name: ").split())
print(a)
print("kiwi" in a)

Enter fruits name: Anu
('Anu',)
False

In [19]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s={'a','b','c'}
print(s)
print(type(s))

{'a', 'c', 'b'}
<class 'set'>

In [22]:
# 17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s={1, 2, 3, 4, 5}
print(s.clear())

None

In [21]:
# 18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
a= {1, 2, 3, 4}
(a.remove(4))
print(a)

{1, 2, 3}

In [23]:
# 19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a={1,2,3}
b={3,4,5}
print(a|b)

{1, 2, 3, 4, 5}

In [24]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a={1,2,3}
b={2,3,4}
print(a&b)

{2, 3}

In [25]:
# 21.rite a code to create a dictionary with the keys "name", "age", and "city", and print it.
d={"name": "Ajay", "Age":22, "City":"Kanpur"}
print(d)

{'name': 'Ajay', 'Age': 22, 'City': 'Kanpur'}

In [26]:
# 22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d={'name': 'John', 'age': 25}
d["country:"]="USA"
print(d)

{'name': 'John', 'age': 25, 'country:': 'USA'}

In [27]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d= {'name': 'Alice', 'age': 30}
print(d["name"])

Alice

In [28]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d= {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

In [29]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d={'name': 'Alice', 'city': 'Paris'}
"city" in d

True

In [30]:
# 26.Write a code to create a list, a tuple, and a dictionary, and print them all.
list=[1,2,3,4]
tuple=(1,2,3,4)
dict={"name":"Ay","Age":22}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Ay', 'Age': 22}

In [31]:
# 27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).
my_list = [34,78,21,93,45]
print(my_list)
my_list.sort()
print("After Sorting")
print(my_list)

[34, 78, 21, 93, 45]
After Sorting
[21, 34, 45, 78, 93]

In [32]:
# 28.Write a code to create a list with strings and print the element at the third index.
list=["apple", "banana", "cherry", "date", "mango"]
print(list[3])

date

In [33]:
# 29.Write a code to combine two dictionaries into one and print the result.
d1={"name": "ajay","age": "20"}
d2={"city":"kanpur","country":"India"}
d1.update(d2)
print(d1)

{'name': 'ajay', 'age': '20', 'city': 'kanpur', 'country': 'India'}

In [34]:
# 30. Write a code to convert a list of strings into a set.
fruits = ["apple", "banana", "cherry", "apple", "banana"]
fruits_set = set(fruits)
print(fruits_set)

{'apple', 'cherry', 'banana'}